@model Spotify.Models.DTOs.ForgotPasswordEmailDto

<div style="direction: rtl; padding: 20px">
    <h2>Dear, @Model.Username</h2>
    <p>
        For resetting your password please click on below link
    </p>
    <p>
        <a href="@Model.ResetLink">Reset Password</a>
    </p>
</div>