@model Spotify.Models.DTOs.ResetPasswordDto
@{
    ViewData["Title"] = "Reset Password";
}

<form asp-action="ResetPassword" method="POST">
    <div class="form-group">
        <label asp-for="Password">New Password</label>
        <input type="password" class="form-control" asp-for="Password" aria-describedby="passwordHelp" placeholder="New Password ...">
        <small id="passwordHelp" class="form-text text-muted">Enter the new password</small>
        <span class="text-danger" asp-validation-for="Password"></span>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword">Confirm Password</label>
        <input type="password" class="form-control" asp-for="ConfirmPassword" placeholder="Confirm Password ...">
        <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
    </div>
    <input type="hidden" asp-for="Token">
    <button type="submit" class="btn btn-primary mt-4">Reset Password</button>
</form>